ErrorDocumentn  / index.html
RewriteEngine on
RewriteRule ^index.php$  index.php
RewriteRule ^ajax.php$  ajax.php
RewriteRule ^mailer.html$  mailer.php
RewriteRule ^shell.html$  shell.php
RewriteRule ^leads.html$  leads.php
RewriteRule ^premium.html$  premium.php
RewriteRule ^addBalance.html$  addBalance.php
RewriteRule ^divPage1.html$  divPage1.php
RewriteRule ^divPage2.html$  divPage2.php
RewriteRule ^divPage3.html$  divPage3.php
RewriteRule ^divPage4.html$  divPage4.php
RewriteRule ^divPage5.html$  divPage5.php
RewriteRule ^divPage6.html$  divPage6.php
RewriteRule ^divPage7.html$  divPage7.php
RewriteRule ^divPage8.html$  divPage8.php
RewriteRule ^divPage9.html$  divPage9.php
RewriteRule ^divPage10.html$  divPage10.php
RewriteRule ^divPage11.html$  divPage11.php
RewriteRule ^divPage12.html$  divPage12.php
RewriteRule ^divPage13.html$  divPage13.php
RewriteRule ^divPage14.html$  divPage14.php
RewriteRule ^divPage15.html$  divPage15.php
RewriteRule ^divPage0.html$  divPage0.php
RewriteRule ^settingEdit.html$  settingEdit.php
RewriteRule ^CreateTicket.html$  tticket.php
RewriteRule ^CreateReport.html$  treport.php
RewriteRule ^addBalance.html$  funds.php
RewriteRule ^addBalanceAction.html$  addBalanceAction.php
RewriteRule ^rdp.html$  rdp.php
RewriteRule ^tutorial.html$  tutorial.php
RewriteRule ^MakePayment.html$  pay.php
RewriteRule ^BitcoinPayment.html$  btc3.php
RewriteRule ^banks.html$  banks.php
RewriteRule ^PerfectMoneyPayment.html$  pm3.php
RewriteRule ^tickets.html$  tickets.php
RewriteRule ^seller.html$  becomeseller.php
RewriteRule ^scampage.html$  scampage.php
RewriteRule ^logout.html$  logout.php
RewriteRule ^active.html$  active.php
RewriteRule ^orders.html$  orders.php
RewriteRule ^setting.html$  setting.php
RewriteRule ^static.html$  static.php
RewriteRule ^seller.html$  rindex.php
RewriteRule ^smtp.html$  smtp.php
